// About page (/about)

#blogs {
  .card {
      width: 42%;
      max-width: 325px;
      height: 300px;
      padding: 0;   
      margin: 10px;  
    }
    
    h2 {
      font-size: 1.7em;
    }
    img {
      max-height: 290px;
      position: absolute;
      z-index: 0;
      opacity: 0.7;
    }
    .content {
      z-index: 1;
      text-align: center;
      margin-top: 30%;
    }
  .life-blog {
    img {
      margin-left: 6px;
    }
  }
}

@include breakpoint(small) {
  #blogs .card {
    width: 100%;
    max-width: unset;
  }
}
